body{
    color: rgb(44, 82, 82);
    background-color: aquamarine;
}

.carous{
    width:70%; /* or whatever width you want. */
    max-width:70%; /* or whatever width you want. */
    display: inline-block;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
    border: 10px solid rgba(32, 17, 238, 0.39);
 }

 .progbar{
     width: 50%;
     margin-left: 25%;
 }

 
 .progbar:after{
    content: "";
    display: table;
    clear: both;
 }